<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="import" name="Schema Import Tools" schema="schema/import.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.lh.dmlj.schema.editor.SchemaEditor"
            contributorClass="org.lh.dmlj.schema.editor.SchemaEditorActionBarContributor"
            default="true"
            extensions="schema"
            id="org.lh.dmlj.schema.editor.schemaeditor"
            name="Schema Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.lh.dmlj.schema.editor.category"
            name="CA IDMS/DB Schema Editor">
      </category>
      <wizard
            category="org.lh.dmlj.schema.editor.category"
            class="org.lh.dmlj.schema.editor.wizard.ImportWizard"
            icon="icons/schema.gif"
            id="org.lh.dmlj.schema.editor.wizard.import"
            name="CA IDMS/DB Schema">
      </wizard>
      <wizard
            category="org.lh.dmlj.schema.editor.category"
            class="org.lh.dmlj.schema.editor.wizard.DictguidesImportWizard"
            icon="icons/pdf_icon_16x16.png"
            id="org.lh.dmlj.schema.editor.wizard.import.dictguides"
            name="CA IDMS/DB Dictionary Structure and SQL Reference Guides">
      </wizard>
   </extension>   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.lh.dmlj.schema.editor.category"
            name="CA IDMS/DB Schema Editor">
      </category>
      <wizard
            category="org.lh.dmlj.schema.editor.category"
            class="org.lh.dmlj.schema.editor.wizard.NewSchemaWizard"
            icon="icons/schema.gif"
            id="org.lh.dmlj.schema.editor.wizard.new"
            name="CA IDMS/DB Schema">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.lh.dmlj.schema.editor.preference.MainPreferencePage"
            id="org.lh.dmlj.schema.editor.preference.MainPage"
            name="CA IDMS/DB Schema Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.lh.dmlj.schema.editor.schemaeditor"
            typeMapper="org.lh.dmlj.schema.editor.property.TypeMapper">
         <propertyCategory
               category="schema"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.lh.dmlj.schema.editor.schemaeditor">
         <propertyTab
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabGeneral"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabRecordLength"
               label="Length">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLength"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabProcedures"
               label="Procedures">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLength"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabCalc"
               label="CALC">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLengt"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabVia"
               label="VIA">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabGeneralSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabOwnerSet"
               label="Owner">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabOwnerSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabMemberSet"
               label="Member">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabMemberSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               label="SORTED">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabConnectors"
               label="Connectors">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabVia"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabPrefix"
               label="Prefix">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabSyntax"
               label="Syntax">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSyntax"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabInfo"
               label="Info">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabInfo"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabDiagram"
               label="Diagram">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.lh.dmlj.schema.editor.schemaeditor">
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SchemaGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSchemaGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.Schema">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SchemaDiagramPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSchemaDiagram"
               tab="org.lh.dmlj.schema.editor.propertyTabDiagram">
            <input
                  type="org.lh.dmlj.schema.Schema">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordLengthPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordLength"
               tab="org.lh.dmlj.schema.editor.propertyTabRecordLength">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordProcedurePropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.RecordWithProceduresFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordProcedures"
               tab="org.lh.dmlj.schema.editor.propertyTabProcedures">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordCalcPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.CalcRecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordCalc"
               tab="org.lh.dmlj.schema.editor.propertyTabCalc">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordViaPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.ViaRecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordVia"
               tab="org.lh.dmlj.schema.editor.propertyTabVia">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordSyntaxSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordSyntax"
               tab="org.lh.dmlj.schema.editor.propertyTabSyntax">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordPrefixPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordPrefix"
               tab="org.lh.dmlj.schema.editor.propertyTabPrefix">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordInfoSection"
               filter="org.lh.dmlj.schema.editor.property.filter.IdmsntwkVersion1RecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordInfo"
               tab="org.lh.dmlj.schema.editor.propertyTabInfo">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetOwnerPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetOwner"
               tab="org.lh.dmlj.schema.editor.propertyTabOwnerSet">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetMemberPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetMember"
               tab="org.lh.dmlj.schema.editor.propertyTabMemberSet">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetSortedPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.SortedSetFilter"
               id="org.lh.dmlj.schema.editor.propertySectionSetSorted"
               tab="org.lh.dmlj.schema.editor.propertyTabSortedSet">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetConnectorPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.ConnectionWithConnectorsFilter"
               id="org.lh.dmlj.schema.editor.propertySectionSetConnectors"
               tab="org.lh.dmlj.schema.editor.propertyTabConnectors">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetSyntaxSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetSyntax"
               tab="org.lh.dmlj.schema.editor.propertyTabSyntax">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.lh.dmlj.schema.editor.import">
      <recordLayoutManagers>
         <recordLayoutManager
               class="org.lh.dmlj.schema.editor.importtool.PopularSchemaLayoutManager"
               description="Manages the layout of all records in schema EMPSCHM version 100."
               id="org.lh.dmlj.schema.editor.layoutManager3"
               image="icons/record_lm_empschm_v100.gif"
               name="EMPSCHM version 100"
               parameters="resources/EMPSCHM version 100 (Record Locations).properties">
            <validFor
                  schemaName="EMPSCHM"
                  schemaVersions="100">
            </validFor>
         </recordLayoutManager>
         <recordLayoutManager
               class="org.lh.dmlj.schema.editor.importtool.PopularSchemaLayoutManager"
               description="Manages the layout of all records in schema IDMSNTWK version 1."
               id="org.lh.dmlj.schema.editor.layoutManager2"
               image="icons/record_lm_idmsntwk_v1.gif"
               name="IDMSNTWK version 1"
               parameters="resources/IDMSNTWK version 1 (Record Locations).properties">
            <validFor
                  schemaName="IDMSNTWK"
                  schemaVersions="1">
            </validFor>
         </recordLayoutManager>
         <recordLayoutManager
               class="org.lh.dmlj.schema.editor.importtool.impl.StandardRecordLayoutManager"
               description="Manages the layout of all records in any schema and tries to create an equal number of rows and columns in the diagram."
               id="org.lh.dmlj.schema.editor.importtool.layoutManager1"
               image="icons/record_lm_standard.gif"
               name="Standard">
         </recordLayoutManager>
      </recordLayoutManagers>
      <importTools>
         <importTool
               class="org.lh.dmlj.schema.editor.importtool.impl.ImportFromSchemaSyntaxTool"
               description="Imports a CA IDMS/DB schema from a file that contains CA IDMS/DB schema syntax."
               id="org.lh.dmlj.schema.editor.importTool1"
               name="org.lh.dmlj.schema.editor.importTool1"
               source="a file that contains CA IDMS/DB schema syntax">
            <dataEntryPage
                  class="org.lh.dmlj.schema.editor.importtool.impl.FileSelectionPage"
                  id="org.lh.dmlj.schema.editor.dataEntryPage1"
                  message="Select a file that contains CA IDMS/DB schema syntax"
                  name="org.lh.dmlj.schema.editor.dataEntryPage1">
            </dataEntryPage>
         </importTool>
      </importTools>
   </extension>

</plugin>
