<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.lh.dmlj.schema.editor.tmpcommand"
            name="Temporary Commands">
      </category>
      <command
            categoryId="org.lh.dmlj.schema.editor.tmpcommand"
            id="org.lh.dmlj.schema.editor.command.zoom50"
            name="Zoom to 50%">
      </command>
      <command
            categoryId="org.lh.dmlj.schema.editor.tmpcommand"
            id="org.lh.dmlj.schema.editor.command.zoom100"
            name="Zoom to 100%">
      </command>
      <command
            categoryId="org.lh.dmlj.schema.editor.tmpcommand"
            id="org.lh.dmlj.schema.editor.command.zoom200"
            name="Zoom to 200%">
      </command>
      <command
            categoryId="org.lh.dmlj.schema.editor.tmpcommand"
            id="org.lh.dmlj.schema.editor.command.zoom500"
            name="Zoom to 500%">
      </command>
      <command
            categoryId="org.lh.dmlj.schema.editor.tmpcommand"
            id="org.lh.dmlj.schema.editor.command.scaletofit"
            name="Scale to Fit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lh.dmlj.schema.editor.handler.TmpZoomHandler"
            commandId="org.lh.dmlj.schema.editor.command.zoom50">
      </handler>
      <handler
            class="org.lh.dmlj.schema.editor.handler.TmpZoomHandler"
            commandId="org.lh.dmlj.schema.editor.command.zoom100">
      </handler>
      <handler
            class="org.lh.dmlj.schema.editor.handler.TmpZoomHandler"
            commandId="org.lh.dmlj.schema.editor.command.zoom200">
      </handler>
      <handler
            class="org.lh.dmlj.schema.editor.handler.TmpZoomHandler"
            commandId="org.lh.dmlj.schema.editor.command.zoom500">
      </handler>
      <handler
            class="org.lh.dmlj.schema.editor.handler.TmpZoomHandler"
            commandId="org.lh.dmlj.schema.editor.command.scaletofit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.lh.dmlj.schema.editor.tmpview">
         <command
               commandId="org.lh.dmlj.schema.editor.command.zoom50"
               label="50%"
               style="push">
         </command>
         <command
               commandId="org.lh.dmlj.schema.editor.command.zoom100"
               label="100%"
               style="push">
         </command>
         <command
               commandId="org.lh.dmlj.schema.editor.command.zoom200"
               label="200%"
               style="push">
         </command>
         <command
               commandId="org.lh.dmlj.schema.editor.command.zoom500"
               label="500%"
               style="push">
         </command>
         <command
               commandId="org.lh.dmlj.schema.editor.command.scaletofit"
               label="Scale to Fit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.lh.dmlj.eclipse.views.category"
            name="DMLJ">
      </category>
      <view
            category="org.lh.dmlj.eclipse.views.category"
            class="org.lh.dmlj.schema.editor.view.TmpView"
            id="org.lh.dmlj.schema.editor.tmpview"
            name="DMLJ Temporary Schema View"
            restorable="true">
      </view>
   </extension>

</plugin>
