<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="import" name="Schema Import Tools" schema="schema/import.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.lh.dmlj.schema.editor.SchemaEditor"
            contributorClass="org.lh.dmlj.schema.editor.SchemaEditorActionBarContributor"
            default="true"
            extensions="schema"
            id="org.lh.dmlj.schema.editor.schemaeditor"
            name="Schema Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.lh.dmlj.schema.editor.category"
            name="CA IDMS Schema Editor">
      </category>
      <wizard
            category="org.lh.dmlj.schema.editor.category"
            class="org.lh.dmlj.schema.editor.importtool.impl.ImportWizard"
            icon="icons/schema.gif"
            id="org.lh.dmlj.schema.editor.wizard.import"
            name="CA IDMS Schema">
      </wizard>
   </extension>   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.lh.dmlj.schema.editor.category"
            name="CA IDMS Schema Editor">
      </category>
      <wizard
            category="org.lh.dmlj.schema.editor.category"
            class="org.lh.dmlj.schema.editor.wizard.NewSchemaWizard"
            icon="icons/schema.gif"
            id="org.lh.dmlj.schema.editor.wizard.new"
            name="CA IDMS Schema">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.lh.dmlj.schema.editor.schemaeditor"
            typeMapper="org.lh.dmlj.schema.editor.property.TypeMapper">
         <propertyCategory
               category="schema"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.lh.dmlj.schema.editor.schemaeditor">
         <propertyTab
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabGeneral"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabRecordLength"
               label="Length">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLength"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabProcedures"
               label="Procedures">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLength"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabCalc"
               label="CALC">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabLengt"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabVia"
               label="VIA">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabGeneralSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabOwnerSet"
               label="Owner">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabOwnerSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabMemberSet"
               label="Member">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabMemberSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               label="SORTED">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabConnectors"
               label="Connectors">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabVia"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabPrefix"
               label="Prefix">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSortedSet"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabSyntax"
               label="Syntax">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabSyntax"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabInfo"
               label="Info">
         </propertyTab>
         <propertyTab
               afterTab="org.lh.dmlj.schema.editor.propertyTabInfo"
               category="schema"
               id="org.lh.dmlj.schema.editor.propertyTabDiagram"
               label="Diagram">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.lh.dmlj.schema.editor.schemaeditor">
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SchemaGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSchemaGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.Schema">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SchemaDiagramPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSchemaDiagram"
               tab="org.lh.dmlj.schema.editor.propertyTabDiagram">
            <input
                  type="org.lh.dmlj.schema.Schema">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordLengthPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordLength"
               tab="org.lh.dmlj.schema.editor.propertyTabRecordLength">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordProcedurePropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.RecordWithProceduresFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordProcedures"
               tab="org.lh.dmlj.schema.editor.propertyTabProcedures">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordCalcPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.CalcRecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordCalc"
               tab="org.lh.dmlj.schema.editor.propertyTabCalc">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordViaPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.ViaRecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordVia"
               tab="org.lh.dmlj.schema.editor.propertyTabVia">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordSyntaxSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordSyntax"
               tab="org.lh.dmlj.schema.editor.propertyTabSyntax">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordPrefixPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionRecordPrefix"
               tab="org.lh.dmlj.schema.editor.propertyTabPrefix">
            <input
                  type="org.lh.dmlj.schema.SchemaRecord">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.RecordInfoSection"
               filter="org.lh.dmlj.schema.editor.property.filter.IdmsntwkVersion1RecordFilter"
               id="org.lh.dmlj.schema.editor.propertySectionRecordInfo"
               tab="org.lh.dmlj.schema.editor.propertyTabInfo">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetGeneralPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetGeneral"
               tab="org.lh.dmlj.schema.editor.propertyTabGeneral">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetOwnerPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetOwner"
               tab="org.lh.dmlj.schema.editor.propertyTabOwnerSet">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetMemberPropertiesSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetMember"
               tab="org.lh.dmlj.schema.editor.propertyTabMemberSet">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetSortedPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.SortedSetFilter"
               id="org.lh.dmlj.schema.editor.propertySectionSetSorted"
               tab="org.lh.dmlj.schema.editor.propertyTabSortedSet">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetConnectorPropertiesSection"
               filter="org.lh.dmlj.schema.editor.property.filter.ConnectionWithConnectorsFilter"
               id="org.lh.dmlj.schema.editor.propertySectionSetConnectors"
               tab="org.lh.dmlj.schema.editor.propertyTabConnectors">
         </propertySection>
         <propertySection
               class="org.lh.dmlj.schema.editor.property.SetSyntaxSection"
               id="org.lh.dmlj.schema.editor.propertySectionSetSyntax"
               tab="org.lh.dmlj.schema.editor.propertyTabSyntax">
            <input
                  type="org.lh.dmlj.schema.MemberRole">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
