<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lh.dmlj.schema.editor.dictionary.tools.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.lh.dmlj.schema.editor.preference.ImportPage"
            class="org.lh.dmlj.schema.editor.dictionary.tools.preference.ui.DictionaryPreferencePage"
            id="org.lh.dmlj.schema.editor.dictionary.tools.main.page"
            name="Dictionary">
      </page>
      <page
            category="org.lh.dmlj.schema.editor.dictionary.tools.main.page"
            class="org.lh.dmlj.schema.editor.dictionary.tools.preference.ui.DriverInformationPage"
            id="org.lh.dmlj.schema.editor.dictionary.tools.driver.page"
            name="Driver">
      </page>
   </extension>
   <extension
         point="org.lh.dmlj.schema.editor.core.import">
      <importTools>
         <importTool
               class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.SchemaImportTool"
               description="Import or update a CA IDMS/DB schema from an IDMS dictionary on your mainframe."
               id="org.lh.dmlj.schema.editor.dictionary.tools.import.importTool1"
               name="schemaImportTool"
               source="an IDMS dictionary on your mainframe">
            <preOptionsPages>
               <dataEntryPage
                     class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.ui.DictionarySelectionPage"
                     id="org.lh.dmlj.schema.editor.dictionary.tools.import.dataEntryPage1"
                     message="Select a dictionary"
                     name="dictionarySelectionPage">
               </dataEntryPage>
               <dataEntryPage
                     class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.ui.SchemaSelectionPage"
                     id="org.lh.dmlj.schema.editor.dictionary.tools.import.dataEntryPage2"
                     message="Select a schema from the dictionary"
                     name="schemaSelectionPage">
               </dataEntryPage>
            </preOptionsPages>
            <options>
               <option
                     checkButtonLabel="Add missing catalog records and sets (areas DDLCAT, DDLCATLOD and DDLCATX)"
                     idmsntwkOnly="true"
                     initialValue="false"
                     name="addMissingCatalogComponents">
               </option></options>
            <postOptionsPages></postOptionsPages>
         </importTool>
      </importTools>
   </extension>
   <extension
         point="org.lh.dmlj.schema.editor.core.importRecordElements">
      <importTools>
         <importTool
               class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.RecordElementsImportTool"
               description="Import record elements from a record synonym in an IDMS dictionary on your mainframe."
               id="org.lh.dmlj.schema.editor.dictionary.tools.import.elements.importTool1"
               name="recordElementsImportTool"
               source="an IDMS dictionary on your mainframe">
            <dataEntryPage
                  class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.ui.DictionarySelectionPage"
                  id="org.lh.dmlj.schema.editor.dictionary.tools.import.elements.dataEntryPage1"
                  message="Select a dictionary"
                  name="dictionarySelectionPage">
            </dataEntryPage>
            <dataEntryPage
                  class="org.lh.dmlj.schema.editor.dictionary.tools.importtool.ui.RecordSynonymSelectionPage"
                  id="org.lh.dmlj.schema.editor.dictionary.tools.import.elements.dataEntryPage2"
                  message="Select a record synonym"
                  name="recordSynonymSelectionPage">
            </dataEntryPage>
         </importTool>
      </importTools>
   </extension>

</plugin>
